img{
    text-align: center;
    padding-left: 30%;
}
form{
    padding-left: 10%;
    margin-top: 10%;
}

input[type=text], select {
    width: 33%;
    padding: 12px 20px;
    margin-left: 23%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    /* float: left; */
}

.button {
    /* position: absolute; */
    background-color:rgb(37, 94, 246); 
    border: none;
    color: white;
    padding: 13px 147px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1% 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    margin-left: 268px;
    margin-bottom: 17%;

    /* float: left; */
}

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

a {
    color: rgb(37, 94, 246);
    padding-left: 33%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
  }

p{
    padding-left: 40%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(117, 117, 117);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }